{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.html",
      "options": {
          "parser": "html"
      }
    },
    {
      "files": "*.css",
      "options": {
          "parser": "css"
      }
    },
    {
      "files": "*.less",
      "options": {
          "parser": "less"
      }
    }
  ]
}
