<!--<h1>
  船名: {{vesType}}
</h1>
<div style="width: 100%; border: 1px solid black; overflow: auto;">
  <app-ct-vessel [vesType]="vesType"></app-ct-vessel>
</div>-->

<!-- <div class="page-header">
  <h1></h1>
</div> -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Storage.AI

      </a>

    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="#">智能收箱核心算法DEMO
          <small>-alpha.1</small>
        </a>
      </li>
    </ul>
  </div>
</nav> -->
<div>
  <ct-yard-overview
    [yardInfoList]="yardInfoList"
    [renderOptions]="yardOverviewRenderOptions"
    (yardContentRender)="renderYardContent($event)"
    (yardClick)="onYardClicked($event)"
  ></ct-yard-overview>
  <ct-yard-bay [yardBay]="yardBay" cellSize="24"></ct-yard-bay>
  <ct-yard
    [yardposInfoList]="blockLocations"
    [renderOptions]="renderOptions"
    [rotation]="rotation"
  ></ct-yard>
  <ct-yard
    *ngFor="let poses of blocks"
    [rotation]="rotation"
    [yardposInfoList]="poses"
  ></ct-yard>
  <!-- <ct-yard-bay [yardBay]="yardBay"></ct-yard-bay> -->
</div>
