<div>
  <ct-yard-overview
    [yardInfoList]="yardInfoList"
    [renderOptions]="yardOverviewRenderOptions"
    (yardContentRender)="renderYardContent($event)"
    (yardClick)="onYardClicked($event)"
  ></ct-yard-overview>
  <ct-yard-bay [yardBay]="yardBay" cellSize="100" [renderOptions]="yardBayRenderOptions"></ct-yard-bay>
  <ct-yard [yardposInfoList]="blockLocations" [rotation]="rotation" [renderOptions]="yardBayRenderOptions"></ct-yard>
  <ct-yard
    *ngFor="let poses of blocks"
    [rotation]="rotation"
    [yardposInfoList]="poses"
    [renderOptions]="yardBayRenderOptions"
    (yardposClick)="yardposClick($event)"
  ></ct-yard>
  <!-- <ct-yard-bay [yardBay]="yardBay"></ct-yard-bay> -->
  <!-- <ct-vessel-bay
    *ngFor="let cells of vescellsList"
    [vescells]="cells"
    [cellSize]="vescellSize"
    [renderOptions]="vesselRenderOptions"
  ></ct-vessel-bay> -->

  <ct-vessel-bay
    *ngIf="vescellsList.length"
    [vescells]="vescells"
    [cellSize]="vescellSize"
    [cellTrackByFn]="cellTrackByFn"
    [renderOptions]="vesselRenderOptions"
  ></ct-vessel-bay>
</div>
